// Colors and fonts

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    overflow-x: hidden;
}
$primary: #20e32d;
$secondary: #1b6285;
$primary2: #57bc90;
$main: #f9f9f9;